/*  your css code here. If applicable */
table{
	border:1px solid black;
	border-spacing: 1px;
}
td,th{
	padding:1px;
}
#t31{
	background-color:green;
}
#t33{
	background-color:blue;
}
body{
	text-align:center;
}